# Sensitive local configuration
appsettings.Development.json
appsettings.Production.json

# User-specific Visual Studio files
*.user
*.userosscache
*.suo

# Build outputs & dependencies
bin/
obj/
.vs/
[Dd]ebug/
[Rr]elease/

# User-uploaded files
wwwroot/uploads/

# Local publish profile user settings
Properties/PublishProfiles/*.pubxml.user